#newsletter {
  background: url(../img/banner/b14.png) no-repeat;
  background-color: #041e42;
  color: var(--blue);
  padding: 2rem 0;
  margin: 2rem 0;
  background-position: 0% -50px;
}

#newsletter .container {
  padding: 3rem 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 1rem;
}

@media (width > 800px) {
  #newsletter .container {
    text-align: left;
    flex-wrap: nowrap;
  }
}

#newsletter .container > div {
  flex: 1 1 350px;
  /* border: 1px solid red; */
}

#newsletter .container h2 {
  font-size: clamp(var(--h4), 2vw, var(--h2));
  /* background-color: red; */
}

#newsletter .form {
  /* background-color: red; */
  max-width: 480px;
}

#newsletter form {
  display: flex;

  gap: 0rem;
}

#newsletter form input {
  width: calc(100% - 100px);
  border-radius: 0.5rem 0 0 0.5rem;
  padding: 1rem 0.5rem;
}

#newsletter form button {
  background-color: var(--sec);
  width: 100px;
  padding: 0.7rem 0;
  border-radius: 0 0.5rem 0.5rem 0;
}

#newsletter form button:hover {
  background-color: var(--prim);
  color: var(--blue);
}
