.cart-menu {
  position: fixed;
  inset: 0;
  z-index: 1000;
  height: 100vh;
  background-color: rgba(var(--primRgb), 0.5);
  backdrop-filter: blur(10px);
  overflow: hidden;
  opacity: 0;
  visibility: hidden;
  transition: all cubic-bezier(0.55, 0.055, 0.675, 0.19) 0.5s;
}

.active-cart-menu {
  opacity: 1;
  visibility: visible;
}

.cart-menu .container {
  background-color: white;
  /* background-color: red; */
  height: 100vh;
  width: 80%;
  max-width: 560px;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  transform: translateX(-120%);
  transition: all cubic-bezier(0.55, 0.055, 0.675, 0.19) 0.5s;
}

.cart-menu .active-cart-menu-container {
  transform: translateX(0);
}

@media (width < 900px) {
  .cart-menu .container {
    /* background-color: aqua; */
    height: 100dvh;
  }
}

.cart-menu .header,
.cart-menu .footer {
  background-color: white;
  color: var(--prim);
  position: sticky;
  z-index: 10;
  box-shadow: 1px 1px 8px rgba(var(--primRgb), 0.4);
  padding: 1rem;
  h3 {
    font-size: var(--h5);
  }
}

.cart-menu .header {
  top: 0;
}

.cart-menu .footer {
  /* position: fix; */
  /* top: calc(100dvh - 120px); */
  bottom: 0;
  display: flex;
  gap: 1rem;
  flex-direction: column;
}
.cart-menu .footer .total {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.cart-menu .footer .checkout {
  button {
    background-color: var(--sec);
    color: var(--blue);
    border: 1px solid var(--blue);
    transition: all 0.3s ease;
    width: 100%;
  }
  button:hover {
    background-color: var(--prim);
    color: var(--blue);
    border: 1px solid var(--blue);
  }
}

@media (width > 768px) {
  .cart-menu {
    /* display: none; */
  }
}

@media (width > 1024px) {
  .cart-menu .container {
    /* width: 30%; */
  }
}

.cart-menu .products {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: rgb(246, 245, 245);
  /* padding: 1rem; */
  flex: 1;

  /* border: 1px solid rgba(var(--prim25Rgb), 0.1); */
}

.cart-menu .product {
  padding: 0.5rem;
  background-color: white;
  box-shadow: 1px 1px 2px rgba(var(--primRgb), 0.1);
  display: flex;
  gap: 1rem;
}

@media (width < 450px) {
  .cart-menu .product {
    padding: 1rem;
    flex-direction: column;
  }
}

.cart-menu .product .img {
  max-width: 70px;
  max-height: 70px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  border: 4px solid rgba(var(--prim10Rgb), 0.4);
  display: flex;
  padding: 0.1rem;

  /* background-color: red; */
  img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: contain;
  }
}

@media (width < 450px) {
  .cart-menu .product .img {
    /* display: none; */
  }
}

.cart-menu .product .info {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  flex: 4;
  /* background-color: aqua; */
}

.cart-menu .info .main {
  /* background-color: red; */
  padding: 0.5rem;
  width: 100%;

  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.cart-menu .info .main > p {
  color: rgba(var(--primRgb), 0.7);
  font-size: var(--smf8);
  line-height: calc(var(--smf8) * var(--line-height));
}
.cart-menu .info .main .product-link {
  transition: all 0.3s ease;
}
.cart-menu .info .main .product-link:hover {
  text-decoration: underline;
}
.cart-menu .info .main .icon {
  color: var(--sec);
}
.cart-menu .info .main .manage {
  /* background-color: blue; */
  width: 100%;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.cart-menu .info .main .manage input[type="number"]::-webkit-outer-spin-button,
.cart-menu .info .main .manage input[type="number"]::-webkit-inner-spin-button {
  /* Hide the arrows */
  display: none;
}

.cart-menu .info .main .manage input {
  width: 40px;
  text-align: center;
  padding: 0.5rem;
  border: 2px solid transparent;
  background-color: rgb(240, 240, 240);
}
.cart-menu .info .main .manage input:hover {
  background-color: rgb(255, 255, 255);
  border: 1px solid var(--sec);
}
.cart-menu .info .main .manage input:focus {
  background-color: rgb(247, 247, 247);
}
.cart-menu .info .main .manage button {
  padding: 0.5rem;
  cursor: pointer;
  width: 40px;
  color: var(--prim);
  border: 1px solid var(--prim10);
}

.cart-menu .info .main .manage button:hover {
  color: var(--sec);
}

.cart-menu .info .main .remove {
  /* background-color: blue; */
  color: var(--sec);

  border: 1px solid white;
  transition: all 0.3s ease;
  background-color: white;
  color: var(--prim);
  margin-left: auto;
}
.cart-menu .info .main .remove:hover button {
  /* background-color: blue; */
  color: var(--warn);
  background-color: white;
  color: var(--warn);
  border: 1px solid var(--warn);
}
