#breadcrumb {
  background: url(../../img/banner/b1.jpg) no-repeat center center/cover;
  text-align: center;
  flex-direction: column;
  height: 40vh;
  color: var(--blue);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;

  h2 {
    font-size: var(--bgf48);
    line-height: calc(var(--bgf48) * var(--line-height));
  }
}
