#products-filters {
  padding: 2rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

#products-filters .container {
  max-width: 700px;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
}

#products-filters .form {
  width: 100%;
  /* background-color: blue; */
  input {
    width: 100%;
    padding: 1rem;
    border: 1px solid var(--blue);
    &:focus {
      outline: none;
    }
  }
}

#products-filters .filter {
  ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
  }

  ul {
    .cat-1 {
      order: 1;
    }

    .cat-2 {
      order: 2;
    }

    .cat-5 {
      order: 3;
    }

    .cat-3 {
      order: 4;
    }

    .cat-4 {
      order: 5;
    }
  }

  li {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    cursor: pointer;
    padding: 0.4rem 1.2rem;
    border-radius: 0.2rem;
    border: 1px solid var(--prim);
    background-color: var(--prim);
    color: var(--blue);
    &:hover {
      background-color: var(--sec);
      border: 1px solid var(--sec);
    }
  }

  .active {
    background-color: var(--sec);
    border: 1px solid var(--sec);
  }
}
