.products-section {
  /* border: 1px solid red; */
  overflow: hidden;
  padding: 2rem 0;
}

.products-section .sec-title {
  /* background-color: red; */
  text-align: center;
  margin: 5rem 0;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  h2 {
    font-family: var(--sec-font);
  }
  p {
    font-size: var(--smf8);
  }
}

.products-section .products {
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* border: 1px solid red; */
  /* background-color: red; */
  gap: 0.5rem;
}
.products-section .products .product {
  border: 1px solid rgba(var(--prim25Rgb), 0.5);
  padding: 0.5rem;
  border-radius: 0.5rem;
  display: flex;
  opacity: 0;
  transform: translate(50%, 10%) scale(0.8) rotate(7deg) skew(7deg);
  transition: all 1s ease;
  flex-direction: column;
  justify-content: space-between;
  /* border: 1px solid red; */
  gap: 0.5rem;
  height: 50vh;

  &:hover {
    box-shadow: 1px 1px 10px rgba(var(--primRgb), 0.2);

    .img {
      img {
        transform: scale(1.1);
      }
    }
  }

  .img {
    flex: 2;
    border-radius: 1rem;
    overflow: hidden;
    /* height: 240px; */
    /* border: 1px solid red; */
    img {
      height: 100%;
      width: 100%;

      object-fit: contain;
      border-radius: 1rem;
      transition: all 0.5s ease;
    }
  }

  .info {
    /* border: solid 1px red; */
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

  .title,
  .price,
  .brand,
  .rate {
    color: var(--prim75);
    font-weight: 400;
    /* border: 1px solid red; */
  }

  .brand {
    color: var(--prim50);
    font-size: var(--smf8);
  }

  .title {
    font-size: var(--smf9);
  }

  .rate {
    font-size: var(--smf7);
  }

  .stars {
    color: rgb(255, 196, 0);
  }

  .buy {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .add-to-cart {
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: red; */
    border-radius: 50%;
    aspect-ratio: 1/1;
    border: 1px solid var(--prim10);
    color: var(--sec);
    transition: all 0.5s ease;
  }

  .add-to-cart:hover {
    background-color: var(--sec);
    color: var(--blue);
  }

  .price {
    font-weight: 600;
  }
}

.products-section .products .show-card {
  opacity: 1;
  transform: translate(0%, 0%) scale(1) rotate(0deg) skew(0deg);
}

@media (width > 768px) {
  .products-section .sec-title {
    h2 {
      font-size: var(--h1);
      line-height: calc(var(--h1) * var(--line-height));
    }
  }
  .products-section .products {
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    gap: 1rem;
  }
}
@media (width > 1024px) {
  .products-section .sec-title {
    h2 {
      font-size: var(--bgf48);
      line-height: calc(var(--bgf48) * var(--line-height));
    }
  }
  .products-section .products {
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
  }
}
